* {
    margin: 0;
    padding: 0;
    border: 0;
}
.whole {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*主页*/
.container {
    width: 100%;

}
/*transition设置过渡效果*/
/*设置主页顶部样式*/
 .nav_1 {
    background-color: #29BEDF;
    width: 100%;
    height: 8vh;
}
.nav_1 img {
    width: 5%;
    padding-top: 2vh;
    padding-left: 2%;
}

/*主页中间样式*/
.center {
    background-color: #F0F0F0;
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 2vh;
    width: 100%;
}
/*上次游戏样式*/
.center .top {
    background-color: #fff;
    border: .1em solid #ccc;
    margin: 2vh 3vh;
    width: 90%;
    position: relative;
}
.top p {
    text-align: center;
    color: #9F9F9F;
    font-size: 1.5em;
    margin: 2vh 6vh;
}
.top img {
    position: absolute;
    display: inline;
    width: 4%;
    right: 2vh;
    top: 3vh;
}
/*底部捉鬼游戏样式*/
.bottom {
    border: .1em solid #ccc;
    background-color: #fff;
    width: 90%;
    margin: 2vh 3vh;
}
.bottom .title {
    background-color: #fff;
    margin: 2vh 3vh;
}
.title p {
    text-align: center;
    color: #E8830D;
    font-size: 1.8em;
    padding: 1vh 4vh;
    letter-spacing: .3vh;
}
.hr01 {
    border: none;
    border-top: .3vh solid #FDDFB9;
}
/*三个方框样式*/
.content {
    position: relative;
}
.content .content_01 {
    background-color: #69D1EA;
    margin: 2vh 10vh;
}

.content p {
    text-align: center;
    color: #bbb;
    font-size: 1.2em;
    letter-spacing: .5vh;
}
.content img {
    height: 6vh;
}
.content_01 p {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: .5vh;
    padding: 3vh 5vh;
}
.content_01 .right {
    position: absolute;
    right: 5%;
    top: 35%;
}
.content .footer {
    text-align: center;
}
.footer img {
    height: 2vh;
}

/*导航格式*/
.dropdown {
    position: absolute;
    width: 100%;
    max-width: 300px;
    display: none;
}
.nav_top {
    width: 100%;
    height: 8vh;
    background-color: #29BEDF;
}
.nav_01 {
    padding: 2.5vh;
    position: relative;
}
.nav_01 img:first-child {
    float: left;
    width: 10%;
}
.nav_01 img:last-child {
    position: absolute;
    width: 5%;
    right: 10% ;
}
.nav_01 span {
    margin-left: 2vh;
    color: #29BEDF;
    font-size: 1.3em;
}
hr {
    border: none;
    border-top: .2vh solid #ccc;
}





